@font-face {
  font-family: 'iconfont';  /* project id 561456 */
  src: url('https://at.alicdn.com/t/font_561456_xlfpif13o56rbe29.eot');
  src: url('https://at.alicdn.com/t/font_561456_xlfpif13o56rbe29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561456_xlfpif13o56rbe29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561456_xlfpif13o56rbe29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561456_xlfpif13o56rbe29.svg#iconfont') format('svg');
}
.head{
	height: 40px;
	width: 100%;
	background-color: #333333;
}
.head_neikuan{
	height: 40px;
	width: 1223px;
	
	margin: 0 auto;
}
.head_zi{
	font-size: 12px;
	float: left;
	line-height: 40px;
	color: #b0b0b0;
}
.head_shuxian{
	height: 12px;
	width: 1px;
	background-color: #424242;
	float: left;
	margin: 14px 7px 0;
}
.head_zuozi{
	float: left;

}
.head_right{
	float: right;
}
.head_car{
	width: 120px;
	height: 40px;
	background-color: #424242;
	float: left;
	margin-left: 25px;
}
.daohang{
	height: 100px;
	width: 1226px;
	margin: 0 auto;
}
.sekuai_tu{
	height: 55px;
	width: 55px;
	margin-top: 22.5px;
	background-color: #ff6700;
	float: left;
}
.daohang_wenzi{
	float: left;
	margin-left: 189px;
	
}
.daohang_wenzi span{
	line-height: 100px;
	font-size: 15px;
	float: left;
	color: #333;
	padding:  0 10px;
	cursor: pointer;/* 光标移上去变成手 */
}
.sousuo{
	border: 1px solid #e0e0e0;
	width: 294px;
	height: 48px;
	float: right;
	margin-top: 25px;
}
.sousuo_left{
	border-right: 1px solid #e0e0e0;
	height: 48px;
	width: 246px;
	float: left;

}
.sousuo_left input{
	height: 48px;
	width: 248px;
	border: none;

}
.sousuo_right input{
	width: 47px;
	height: 48px;
	display: block;
	margin-bottom: 2px;
	font-family: iconfont;
}
.sousuo_right{
	height: 48px;
	width: 47px;
	float: right;
	font-family: iconfont;
	font-size: 20px;
	color: #b0b0b0;
	line-height: 48px;
	text-align: center;
}
.banner{
	width: 1226px;
	height: 184px;
	margin: 0 auto;
	margin-top: 14px;
}
.bannericon{
	width: 224px;
	height: 167px;
	background-color: #5f5750;
	float: left;
	padding: 3px;
	margin-right: 15px;
}
.bannericon1{
	width: 70px;
	height: 64px;
	font-size: 24px;
	font-family: iconfont;
	line-height: 32px;
	text-align: center;
	color: #D6D3D2;
	float: left;
	margin-top: 14px;
	margin-left: 2px;
}
.bannericon2{
	font-size: 10px
}
.bannerimg{
	width: 980px;
	height: 200px;
	float: right;
}
.bannerimg1{
	width: 316px;
	height: 176px;
	margin-right: 15px;
	float: left;
}
.bannerimg2{
	margin: 0;
}
.mingxing{
	height:398px;
	width: 1226px;
	margin: 0 auto;
	padding-bottom: 40px;
	
}
.mingxing_top{
	height: 58px;
	width: 1226px;
	float: right;
}
.mingxing_top h1{
	color: #333;
	font-size: 21px;
	line-height: 58px;
	float: left;
	font-weight: 400;
}
.mingxing_anniu{
	height: 22px;
	width: 69px;
	float: right;
	
	margin-top: 17px;
	border: 1px solid #e0e0e0;
}
.mingxing_anniu div{
	float: right;
	height: 22px;
	width: 34px;
	text-align: center;
	cursor: pointer;
}
.mingxing_anniu2{
	color: #b0b0b0;
}
.mingxing_anniu1{
	border-left: 1px solid #e0e0e0;
	color: #e0e0e0;
}
.mingxing_tu{
	width: 1226px;
	height: 340px;
	
}
.mingxing_tu1{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid #ffac13;
	padding-top: 39px;
	margin-right: 14px;
	float: left;
}
.mingxing_tu1 img{
	width: 160px;
	height: 166px;
	margin: 0 auto;
	display: block;
}
.mingxing_tu1 h1{
	text-align: center;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	margin-top: 22px;
}
.mingxing_tu1 h2{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	margin-top: 3px;
}
.mingxing_tu1 h3{
	text-align: center;
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	margin-top: 12px;
}
.mingxing_tu2{
	margin-right: 0;
	border-top-color: #00c0a5;
}
.mingxing_tu3{
	border-top-color: #e53935;
}
.mingxing_tu4{
	border-top-color: #2196f3;
}
.mingxing_tu5{
	border-top-color: #83c44e;
}
.zhineng{
	width: 1226px;
	height: 732px;
	margin: 0 auto;
	background-color: #f5f5f5;
}
.beijing{
	background-color: #f5f5f5;
	width: 100%;
	padding-top: 40px;
}
.zhineng_top{
	width: 1226px;
	height: 58px;
	
}
.zhineng_top h1{
	font-weight: 400;
	line-height: 58px;
	font-size: 21px;
	color: #333;
	float: left;
}
.zhineng_you{
	/* background-color: red; */
	float: right;
}
.zhineng_top h2{
	float: left;
	line-height: 58px;
	font-weight: 400;
	color: #333;
	font-size: 18px;
}
.zhineng_yuan{
	background-color: #b0b0b0;
	height: 23px;
	width: 23px;
	float: left;
	border-radius: 11.5px;
	margin-left: 20px;
	color: #fff;
	text-align: center;
	margin-top: 17.5px;
	font-family: "苹方";
}
.zhineng_tu{
	height:614px;
	width: 1226px;
	
}
.zhineng_tu1{
	margin-right: 14px;
	float: left;
	height: 614px;
	width: 234px;
	transition: all 5s linear;
}
.zhineng_datu1{
	height: 614px;
	width: 234px;
}
/* .zhineng_tu div{
	float: left;
	margin-right: 14px;
} */
.zhineng_tu2 img{
	margin: 0 auto;
	display: block;
	
}
.zhineng_tu2{
	height: 300px;
	width: 234px;
	background-color: #fff;
	float: left;
	margin-right: 14px;
	position: relative;
	top: 0;
	overflow: hidden;
	transition: all 0.2s linear;
	
}
.zhineng_tu2:hover{
	box-shadow: 0 10px 20px 5px #b0b0b0 ;
	transform:translate(-8px, -8px);
}
.zhineng_xiaotu{
	
	/* display: block; */
	padding-top: 34px;
	margin-left: 7px;
	height: 150px;
	width: 150px;
}
.zhineng_xiaotu1{
	margin-right: 0;
}
.zhineng_xiaotu2{
	margin-top: 14px;
}
.zhineng_tu2 h1{
	text-align: center;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	margin-top: 22px;
}
.zhineng_tu2 h2{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	margin-top: 3px;
}
.zhineng_tu2  h3{
	text-align: center;
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	margin-top: 12px;
}
.dapei{
	width: 1226px;
	height: 732px;
	margin: 0 auto;
}
.dapei_top{
	height: 58px;
	width: 100%;
	background-color: #f5f5f5;
}
.dapei_top h1{
	font-weight: 400;
	line-height: 58px;
	font-size: 21px;
	color: #333;
	float: left;
}
.dapei_topyou{
	float: right;
}
.dapei_top h2{
	float: left;
	font-weight: 400;
	line-height: 58px;
	font-size: 14px;
	color: #333;
	margin-left: 20px;
}
.teshuzi{
	border-bottom: 2px solid #ff6700;
	float: left;
	height: 38px;
	width: 50px;
	margin-left: 20px;

}
.dapei_topyou h1{

	color: #ff6700;
	margin-left: 13px;
	font-size: 14px;
	line-height: 58px;
	font-weight: 400;
	float: left;
}
.dapei_tu{
	height: 614px;
	width: 100%;
	background-color: #f5f5f5;
}
.dapei_xiaotu{
	height: 300px;
	width: 234px;
	background-color: #fff;
	margin-right: 14px;
	float: left;
}
.dapei_xiaotu1{
	margin-right: 0;
}
.dapei_xiaotu2{
	margin-top: 14px;
}
.dapei_xiaotu3{
	float: left;
	height: 143px;
	width: 234px;
	background-color: #fff;
	margin-top: 14px;
}
.dapei_xiaotu4{
	text-align: center;
	line-height: 30px;
	height: 143px;
	width: 234px;
	background-color: #fff;
	float: right;
	margin-top: 14px;
}
.dapei_xiaotu4 h5{
	font-family: iconfont;
	font-size: 60px;
	color: #ff6700;
	font-weight: normal;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}
.dapei_xiaotu4 h1{
	font-size: 18px;
	color: #333;
	float: left;
	line-height: 30px;
	margin-left: 25px;
	margin-top: 40px;
	font-weight: normal
}
.dapei_xiaotu4 h2{
	font-size: 12px;
	color: #757575;
	float: left;
	line-height: 30px;
	margin-left: -70px;
	margin-top: 35px;
	font-weight: normal;
}
.dapei_datu{
	height: 300px;
	width: 234px;
}
.dapei_shangxia{
	height: 150px;
	width: 150px;
	display: block;
	margin: 0 auto;
	/* margin-top: 34px; */
	padding-top: 34px;
}
.dapei_xiaoxiao{
	height: 80px;
	width: 80px;
	float: right;
	margin-top: 31px;
	margin-right: 20px;
}
.dapei_xiaotu h1{
	text-align: center;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	margin-top: 22px;
}
.dapei_xiaotu h2{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	margin-top: 3px;
}
.dapei_xiaotu h3{
	text-align: center;
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	margin-top: 12px;
}
.dapei_xiaotu3 h3{
	margin-top: 5px;
	margin-left: 30px;
	font-size: 12px;
	color: #ff6700;
	font-weight: normal;
}
.dapei_xiaotu3 h1{
	margin-top: 50px;
	margin-left: 30px;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
}
.tuijian{
	width: 100%;
	margin: 0 auto;
	height: 300px;
}
.reping{
	width: 100%;
	height: 415px;
}
.reping1{
	height: 415px;
	width: 296px;
	float: left;
}
.reping_tu{
	width: 296px;
	height: 220px;
	padding-top: 0;
}
.reping h1{ 
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    float: left;
}
.reping h2{
	padding-right: : 10px;
    font-size: 12px;
    color: #b0b0b0;
    float: left;
    margin: 0 28px 8px;
}
.reping h3{
	float: left;
	margin: 0;
}
.reping h4{
	float: left;
	font-size: 14px;
	font-weight: 400;
}
.neirong1{
	border-top: 1px solid #ffac13;
	text-align: center;
	position: relative;
	font-size: 16px;

}
.neirong2{
	border-top-color: #83c44e;
}
.neirong3{
	border-top-color: #e53935;
}
.neirong4{
	border-top-color:#2196f3;
}
.neirong1 h1{
	position: absolute;
	top: 40px;
	left: 104px;
	color: #ffac13;
	font-size: 16px;
}
.neirong1 h4{
	position: absolute;
	top: 70px;
	left: 25px;
	right: 25px;
	color: #333;
	font-size: 18px;

}
.neirong1 h2{
	position: absolute;
	top: 100px;
	left: 25px;
	right: 25px;
}
.neirong1 h3{
	position: absolute;
	top: 150px;
	left: 25px;
	right: 25px;
	color: #333;
}

.neirong1 img{
	width: 216px;
	height: 154px;
}
.neirong2 h1{
	color: #83c44e;
}
.neirong3 h1{
	color: #e53935;
}
.neirong4 h1{
	color: #2196f3;
}

.neirong_tu{
	margin-top: 150px;
}
.shipin{
	height: 285px;
	width: 296px;
}
.shipin1{
	height: 345px;
}
.shipin_tu{
	width: 296px;
	height: 180px;
	padding-top: 0;
}
.weinituijian{
	height: 418px;
	width: 1226px;
	margin: 0 auto;
}
.chanpinreping{
	width: 1226px;
	height: 533px;
	margin: 0 auto;
}
.shiping{
	height: 402px;
	width: 1226px;
	margin: 0 auto;
}
.head_car{
	font-family: iconfont;
	color: #b0b0b0;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-family: iconfont;
}
/* .head_car1{

} */
.car2{
	font-size: 12px;
	color: #b0b0b0;
}
.map{
	height: 272px;
	width: 100%;
	background-color: #FFF;
}
.map_top{
	width: 1226px;
	height: 79px;
/* 	background-color: red; */
	margin: 0 auto;
	border-bottom: 1px solid #E0E0E0;
}
.mapicon1{
	width: 19.8%;
	border-right: 1px solid #e0e0e0;
	height: 25px;
	font-size: 26px;
	line-height: 25px;
	text-align: center;
	float: left;
	margin-top: 27px;
	font-family: iconfont;
	color:#616161;
	padding-right: 58px;
	margin-left: -70px;
}
.mapicon1 p{
	font-size: 16px;
		float: right;
		margin-left: -100px;
}
.mapicon2{
	margin-left: -56px;
}
.mapicon3{
	border-right: 0;
}
.maplink{
	width: 1226px;
	height: 192px;
	margin: 0 auto;
}
.maplink1{
	width: 160px;
	height: 112px;
	float: left;
	margin-top: 42px;
}
.maplink1_help{
	width: 160px;
	height: 17px;
	margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.maplink1_help1{
	margin-top: 10px;
	font-size: 12px;
	color: #b0b0b0;
}
.mapright{
	width: 252px;
	height: 112px;
	float: right;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	color: #616161;
	margin-top: 42px;
}
.phone{
	margin-bottom: 5px;
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
}
.phone1{
	margin-bottom: 16px;
	font-size: 12px;
}
.kefu{
	width: 118px;
	height: 28px;
	border:1px solid #ff6700;
	color: #ff6700;
	float: left;
	line-height: 28px;
	font-size: 12px;
	margin-left: 66px;
	font-family: iconfont;
	text-align: center;
}
.foot{
	width: 100%;
	height: 166px;
	background-color: #fafafa;
	float: left;
}
.foot1{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
	margin-top: 30px;
}
.foot1 img{
	float: left;
/* 	margin-top: 28.5px; */
}
.foot_mid{
	width: 600px;
	height: 36px;
	color: #b0b0b0;
	font-size:12px;
	float: left;
	margin-left: 10px;
}
#footlianjie{
	font-size: 12px;
	color: #b0b0b0;
	text-decoration:none;
	line-height: 18px;
	margin-left: 10px;
	float: left;
	display: block;
}
#footlianjie a{
	color: #b0b0b0;
}

.foot2{
	width: 375px;
	height: 40px;
	float: right;
}
.foot2 img{
	float: left;
	width: 85px;
	height: 28px;
}
.footfoot{
	height: 19px;
	width: 267px;
	margin: 0 auto;
	margin-top: 50px;

}
.footfoot img{
	margin: 0 auto;
}

.reping span{
	color: #e0e0e0;
	float: left;
}
.reping1_right{
	width: 190px;
	height: 20px;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
	float:left;
}
#banner1{
	width: 1226px;
	height: 460px;
	background-color: purple;
	margin: 0 auto;
	position: relative;
}
.banner1_img{
	width: 100%;
	height: 100%;
	background-color: pink;
	position: relative;
}
.banner1_img img{
	width: 1226px;
	height: 460px;
	position: absolute;
	top: 0;
}
.banner_nav{
	width: 234px;
	height: 420px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
}
.banner_nav li{
	width: 174px;
	height: 42px;
/* 	background-color: red; */
	line-height: 42px;
	font-size: 14px;
	color: white;
	padding: 0 30px;
}
.banner_jiantou{
	float: right;
	font-size: 20px;
}
.banner_btn{
	width: 41px;
	height: 69px;
	text-align: center;
	color: #b0b0b0;
	line-height: 60px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 234px;
	font-size: 70px;
	cursor: pointer;
}
.btn1{
	right: 0;
	left: 1185px;
}
.head_zi:hover{
	color: white;
}
.head_car:hover{
	background-color: white;
	cursor: pointer;
}
.head_car:hover span{
	color: #ff6700;
}
.daohang_wenzi span:hover{
	color: #ff6700;
}

.sousuo_right:hover{
	background-color: #ff6700;
	cursor: pointer;
	color: white;
}
.shipin{
	position: relative;
	top: 0;
}
.shipin h1{
	position: absolute;
	top: 210px;
	left: 25px;
	right: 25px;
/* 	color: #333; */
	font-size: 14px;
}
.shipin h2{
	position: absolute;
	top: 240px;
	left: 25px;
	right: 25px;
/* 	color: #333; */
	font-size: 12px;
}
.shipin1{
	position: relative;
	top: 0;
}
.shipin span{
	font-family: iconfont;
	position: absolute;
	font-size: 35px;
	z-index: 999;
	color: white;
	bottom: 120px;
	left: 35px;
}
.shipin span:hover{
	color: #ff6700;
	cursor: pointer;
}
.shipin h1:hover{
	color: #ff6700;
	cursor: pointer;
}
.banner_nav li:hover{
	background-color: #FF6700;
	cursor: pointer;
}
.banner_btn:hover{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
.bannericon1:hover{
	color: white;
	cursor: pointer;
}
.mingxing_tu1 h1:hover{
	cursor: pointer;
}
.mapicon1:hover{
	color: #ff6700;
	cursor: pointer;
}
.maplink1_help1:hover{
	color: #ff6700;
	cursor: pointer;
}
.kefu:hover{
	color: white;
	cursor: pointer;
	background-color: #ff6700;
}
#footlianjie a:hover{
	color: #ff6700;
	cursor: pointer;
}
.zhineng_you h2:hover{
	color: #ff6700;
	cursor: pointer;
}
.zhineng_yuan:hover{
	color: white;
	background-color: #ff6700;
	cursor: pointer;
}
.zhineng_yincang{
	width: 100%;
	height: 80px;
	background-color: #ff6700;
	position: absolute;
	bottom: -80px;
	left: 0;
	transition: all 0.5s linear;
	opacity: 0;
	line-height: 80px;
	text-align: center;
	font-size: 12px;

}
.yincang1{
	height: 80px;
	width: 100%;
}
.zhineng_tu2:hover .zhineng_yincang{
	bottom:0;
	opacity: 1;

}
